:root {
  --Moderate_violet: hsl(263, 55%, 52%);
  --grayish_blue: hsl(217, 19%, 35%);
  --blackish_blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light_gray: hsl(0, 0%, 81%);
  --Light_blue: hsl(210, 46%, 95%);
  }

.medium {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .semibold {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}  

main {
  width: 100%;
  display: flex;
}
  